@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

header#cabecalho {
    margin-bottom: 30px;
}

header#cabecalho img {
    top: 20px;
    display: block;
    margin: 10px auto 10px auto;
    position: relative;
}

header#cabecalho h1 {
    text-align: center;
    font-family: Balsamiq, sans-serif;
    font-size: 28pt;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    padding: 0px;
}

div#header_left_top_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 0px -20px;
    top: 0px;
    transform: skewX(45deg);
    background-color: #00AA18;
    position: absolute;
}

div#header_right_top_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 0px 420px;
    top: 0px;
    background-color: #0B4900;
    transform: skewX(45deg);
    position: absolute;
}

div#header_left_big_rectangle {
    position: absolute;
    width: 300px;
    height: 40px;
    margin: 0px 200px 0px -30px;
    top: 80px;
    transform: skewX(45deg);
    background-color: #D0D2D3;
}

div#header_right_big_rectangle {
    position: absolute;
    width: 300px;
    height: 40px;
    margin: 0px 200px 0px 630px;
    top: 80px;
    transform: skewX(45deg);
    background-color: #D0D2D3;
}

div#header_left_bottom_rectangle {
    position: absolute;
    width: 250px;
    height: 20px;
    margin: 0px 200px 0px -20px;
    top: 70px;
    transform: skewX(45deg);
    background-color: #00AA18;
}

div#header_right_bottom_rectangle {
    position: absolute;
    width: 250px;
    height: 20px;
    margin: 0px 200px 0px 670px;
    top: 110px;
    background-color: #0B4900;
    transform: skewX(45deg);
}

body {
    background-image: url("../_imagens/background_grid.png");
    background-color: white;
}

div#interface {
    color: black;
    font-family: Balsamiq, sans-serif;
    font-size: 11pt;
    width: 900px;
    padding: 10px;
    margin: -20px auto 10px auto;
}

p {
    text-align: center;
    font-size: 12pt;
}

section#corpo_principal {
    display: block;
    width: 540px;
    float: left;
    margin-bottom: 45px;
}

table#tabela_dados_usuario {
    border-spacing: 0px;
    margin-left: 0px;
    margin-right: auto;
}

table#tabela_dados_usuario td {
    padding: 10px 10px 10px 0px;
}

/*
table#tabela_dados_usuario label {
    font-weight: bold;
}
*/

table#tabela_dados_usuario caption {
    font-family: Balsamiq, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    padding-bottom: 10px;
}

aside#lateral_cadastro_online {
    display: block;
    float: right;
    width: 330px;
    height: 200px;
    padding: 5px;
    background-color: rgba(0, 170, 24, .9);
    z-index: 0;
}

table#tabela_cadastro_online {
    border-spacing: 0px;
    margin: -15px auto 0px auto;
}

table#tabela_cadastro_online td {
    padding: 3px;
    color: white;
    font-size: 11pt;
}

table#tabela_cadastro_online caption {
    position: relative;
    font-family: Balsamiq, sans-serif;
    font-size: 12pt;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    margin: 2px 0px 0px 20px;
    text-align: left;
    top: -10px;
}

div#register_rectangle {
    position: relative;
    height: 25px;
    width: 350px;
    transform: skewX(45deg);
    margin: -5px 0px 0px 7px;
    background-color: #D0D2D3;
}

div#transparent_left_bottom_triangle {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 45px solid white;
    border-right: 45px solid transparent;
    top: -34px;
    left: -6px;
}

div#red_left_bottom_triangle {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 25px solid #C10000;
    border-right: 25px solid transparent;
    top: -65px;
    left: 0px;
}

div#transparent_right_bottom_triangle {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 45px solid white;
    border-left: 45px solid transparent;
    top: -104px;
    left: 290px;
}

div#red_right_bottom_triangle {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 25px solid #C10000;
    border-left: 25px solid transparent;
    top: -135px;
    left: 305px;
}

button#registrar {
    display: block;
    background-color: #C10000;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    border-color: white;
    width: 240px;
    margin: 15px auto 15px auto;
    padding: 5px 20px;
}

a {
    text-decoration: none;
}


/* RODAPE */
footer#rodape {
    clear: both;
}

div#footer_left_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: -30px 200px 5px 150px;
    transform: skewX(-45deg);
    background-color: #0B4900;
    position: absolute;
}

div#footer_right_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: -30px 200px 5px 440px;
    transform: skewX(45deg);
    background-color: #E8E8E8;
    position: absolute;
}

div#footer_right_greater_rectangle img#ufpe_logo {
    transform: skewX(-45deg);
    width: 35px;
    height: 40px;
    margin: 5px 20px 5px 50px;
}

div#footer_right_greater_rectangle img#lika_logo {
    transform: skewX(-45deg);
    width: 50px;
    height: 40px;
    margin: 5px 20px 5px 20px;
}

div#footer_left_small_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 5px -20px;
    transform: skewX(45deg);
    background-color: #00AA18;
    position: absolute;
}

div#footer_right_small_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 5px 420px;
    background-color: #0B4900;
    transform: skewX(45deg);
    position: absolute;
}



/* ESTUDO DE CASOS */
section#corpo_principal_estudo_de_casos {
    width: 550px;
    height: 250px;
    margin: 30px auto 45px auto;
}

table#tabela_estudo_de_casos {
    border-spacing: 0px;
}

table#tabela_estudo_de_casos td {
    border: 1px solid black;
    padding: 10px;
}

table#tabela_estudo_de_casos caption {
    font-family: Balsamiq, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    margin: 2px 0px 0px 20px;
    text-align: left;
}

div#estudo_de_casos_circle {
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    left: -40px;
    top: -293px;
    z-index: 1;
}

div#estudo_de_casos_circle img {
    width: auto;
    height: auto;
    margin: 12px 0px 0px 8.5px;
}

div#estudo_de_casos_rectangle {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    height: 30px;
    width: 550px;
    margin: 0px;
    top: -215px;
    left: -15px;
    transform: skewX(45deg);
    z-index: 1;
}

div#estudo_de_casos_vertical_rectangle {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    height: 30px;
    width: 220px;
    margin: 0px;
    top: -140px;
    left: -125px;
    transform: rotate(90deg) skewX(-45deg);
    z-index: 0;
}