@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

header#cabecalho {
    margin-bottom: 50px;
    margin-top: 50px;
}

header#cabecalho h1 {
    text-align: center;
    font-family: Balsamiq, sans-serif;
    font-size: 28pt;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    text-align: center;
    font-size: 14pt;
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho div#header_left_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 0px -20px;
    transform: skewX(45deg);
    background-color: #00AA18;
    opacity: .5;
    position: absolute;
}

header#cabecalho div#header_right_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 0px 420px;
    background-color: #0B4900;
    transform: skewX(45deg);
    position: absolute;
}

body {
    background-color: #606060;
}

div#interface {
    background-image: url("../_imagens/background_grid.png");
    background-color: #127c03;
    color: white;
    font-family: Balsamiq, sans-serif;
    font-size: 11pt;
    width: 900px;
    padding: 10px;
    margin: -20px auto 10px auto;
    box-shadow: 2px 2px 2px #656565;
    transition: box-shadow 1s;
}

div#interface:hover {
    box-shadow: 2px 2px 2px #808080;
}

p {
    text-align: justify;
    text-indent: 30px;
}

section#corpo_principal {
    display: block;
    width: 540px;
    float: left;
}

aside#lateral {
    display: block;
    width: 330px;
    float: right;
    padding-left: 15px;
    margin-bottom: 40px;
}

footer#rodape {
    clear: both;
}

footer#rodape div#footer_left_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: -30px 200px 5px 150px;
    transform: skewX(-45deg);
    background-color: #ffffff;
    position: absolute;
}

footer#rodape div#footer_left_greater_rectangle p {
    text-align: center;
    color: black;
    margin: auto 0px auto 0px;
    transform: skewX(45deg);
}

footer#rodape div#footer_right_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: -30px 200px 5px 440px;
    transform: skewX(45deg);
    background-color: #E6E7E8;
    position: absolute;
}

footer#rodape div#footer_right_greater_rectangle img#ufpe_logo {
    transform: skewX(-45deg);
    width: 35px;
    height: 40px;
    margin: 5px 20px 5px 50px;
}

footer#rodape div#footer_right_greater_rectangle img#lika_logo {
    transform: skewX(-45deg);
    width: 50px;
    height: 40px;
    margin: 5px 20px 5px 20px;
}

footer#rodape div#footer_left_small_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 5px -20px;
    transform: skewX(45deg);
    background-color: #ffffff;
    position: absolute;
}

footer#rodape div#footer_right_small_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 5px 420px;
    background-color: #E6E7E8;
    transform: skewX(45deg);
    position: absolute;
}

/* LOGIN */
div#login {
    background-color: wheat;
    color: #0B4900;
    padding: 10px;
}

div#login h3 {
    margin: 0px;
    text-align: center;
    font-size: 12pt;
}

div#login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #d99a9b;
    box-sizing: border-box;
    border-radius: 10px;
}

div#login button#login {
    background-color: #4085EB;
    color: white;
    width: 150px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    
}

div#login button#registrar {
    background-color: #C10000;
    color: white;
    width: 100px;
    margin: 8px auto 8px auto;
    padding: 5px 20px;
    text-align: center;
}

div#noticias {
    background-color: #4085EB;
}