@charset "UTF-8";

img#situacaoClinica1DadosRecemNascidoId {
    display: block;
    margin: 20px auto 20px auto;
}

/* IFRAMES */
iframe#abaDesenvolvimentoCaso1Id {
    display: block;
    border: none;
    margin: auto;
    width: 100%;
}

iframe#abaCrescimentoCaso1Id {
    display: block;
    border: none;
    margin: auto;
    width: 100%;
}

iframe#abaVacinacaoCaso1Id {
    display: block;
    border: none;
    margin: auto;
    width: 100%;
}

iframe#abaOrientacoesCaso1Id {
    display: block;
    border: none;
    margin: auto;
    width: 100%;
}