@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

header#cabecalho {
    margin-bottom: 50px;
    margin-top: 50px;
}

header#cabecalho h1 {
    text-align: center;
    font-family: Balsamiq, sans-serif;
    font-size: 28pt;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    text-align: center;
    font-size: 14pt;
    padding: 0px;
    margin-top: 0px;
}

div#header_left_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 0px -20px;
    transform: skewX(45deg);
    background-color: #00AA18;
    opacity: .5;
    position: absolute;
}

div#header_right_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 0px 420px;
    background-color: #0B4900;
    transform: skewX(45deg);
    position: absolute;
}

body {
    background-color: #606060;
}

div#interface {
    background-image: url("../_imagens/background_grid.png");
    background-color: #127c03;
    color: white;
    font-family: Balsamiq, sans-serif;
    font-size: 11pt;
    width: 900px;
    padding: 10px;
    margin: -20px auto 10px auto;
    box-shadow: 2px 2px 2px #656565;
    transition: box-shadow 1s;
}

div#interface:hover {
    box-shadow: 2px 2px 2px #808080;
}

p {
    text-align: justify;
    text-indent: 30px;
}

section#corpo_principal {
    display: block;
    width: 540px;
    float: left;
}

aside#lateral {
    display: block;
    width: 330px;
    float: right;
    margin-bottom: 40px;
}

div#noticias {
    margin: 30px 10px 0px 10px;
    color: black;
}

div#noticias_header {
    height: 35px;
}

div#noticias_header_circle {
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    left: 280px;
    margin: 0px;
    top: -60px;
    z-index: 1;
}

div#noticias_header_circle img#news_icone {
    width: auto;
    height: auto;
    margin: 8px 10px 10px 12px;
}

div#noticias_header_rectangle {
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    height: 30px;
    width: 320px;
    margin: 0px;
    position: relative;
    top: 8px;
    left: -15px;
    transform: skewX(-45deg);
    z-index: 1;
}

div#noticias_header_rectangle h2 {
    margin: 0px;
    color: #0B4900;
    transform: skewX(45deg);
    position: relative;
    left: 50px;
}

div#noticias_header_vertical_rectangle {
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    height: 25px;
    width: 450px;
    margin: 0px;
    position: relative;
    top: 200px;
    left: 80px;
    transform: rotate(90deg) skewX(45deg);
    z-index: 0;
}

div#noticias_corpo {
    background-color: #E6E7E8;
    padding-top: 15px;
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px;
}

footer#rodape {
    clear: both;
}

div#footer_left_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: -30px 200px 5px 150px;
    transform: skewX(-45deg);
    background-color: #ffffff;
    position: absolute;
}

div#footer_left_greater_rectangle p {
    text-align: center;
    color: black;
    margin: auto 0px auto 0px;
    transform: skewX(45deg);
}

div#footer_right_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: -30px 200px 5px 440px;
    transform: skewX(45deg);
    background-color: #E6E7E8;
    position: absolute;
}

div#footer_right_greater_rectangle img#ufpe_logo {
    transform: skewX(-45deg);
    width: 35px;
    height: 40px;
    margin: 5px 20px 5px 50px;
}

div#footer_right_greater_rectangle img#lika_logo {
    transform: skewX(-45deg);
    width: 50px;
    height: 40px;
    margin: 5px 20px 5px 20px;
}

div#footer_left_small_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 5px -20px;
    transform: skewX(45deg);
    background-color: #ffffff;
    position: absolute;
}

div#footer_right_small_rectangle {
    width: 500px;
    height: 20px;
    margin: 0px 200px 5px 420px;
    background-color: #E6E7E8;
    transform: skewX(45deg);
    position: absolute;
}

/* LOGIN */
div#login {
    height: 290px;
}

div#login_circle {
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 2px solid #0B4900;
    height: 50px;
    width: 50px;
    position: relative;
    left: -25px;
    top: -30px;
    z-index: 1;
}

div#login img#login_icone {
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 2;
}

div#login_rectangle {
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    height: 30px;
    width: 340px;
    position: relative;
    top: 14px;
    right: 4px;
    z-index: 1;
}

div#login_rectangle h2 {
    margin: 0px;
    color: #0B4900;
    position: relative;
    left: 40px;
}

div#login_container {
    height: 300px;
    width: 330px;
    position: relative;
    top: -40px;
    z-index: 0;
}

div#login_container_corpo {
    height: 200px;
    width: 260px;
    color: #0B4900;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #E6E7E8;
    z-index: 0;
}

div#login_container_base_esquerda {
    height: 30px;
    width: 200px;
    background-color: #E6E7E8;
    transform: skewX(45deg);
    position: relative;
    left: 40px;
    z-index: -1;
}

div#login_container_base_direita {
    height: 30px;
    width: 200px;
    background-color: #E6E7E8;
    transform: skewX(-45deg);
    position: relative;
    left: 90px;
    top: -30px;
    z-index: -1;
}

div#login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #C10000;
    box-sizing: border-box;
    border-radius: 10px;
}

button#login {
    display: block;
    background-color: #4085EB;
    color: white;
    font-size: 12pt;
    width: 130px;
    padding: 5px 5px;
    margin: 0px auto 0px auto;
    z-index: 1;
}

button#registrar {
    display: block;
    background-color: #C10000;
    font-size: 10pt;
    color: white;
    width: 100px;
    margin: -15px auto 0px auto;
    padding: 5px 5px;
    z-index: 1;
}

a {
    text-decoration: none;
}