@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

/* ESTUDO DE CASOS */
section#corpo_principal_estudo_de_casos {
    width: 550px;
    margin: 30px auto 0px auto;
}

table#tabela_estudo_de_casos {
    border-spacing: 0px 20px;

}

table#tabela_estudo_de_casos td {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    background-color: #FFFFFF;
    z-index: 1;
}

table#tabela_estudo_de_casos td.coluna_topico_tabela {
    width: 500px;
}

table#tabela_estudo_de_casos caption {
    font-family: Balsamiq, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    margin: 0px;
    padding: 0px;
    text-align: left;
    position: relative;
    top: 8px;
    z-index: 2;
}


div#estudo_de_casos_circle {
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    left: -40px;
    top: -450px;
    position: relative;
    z-index: 1;
}

div#estudo_de_casos_circle img {
    width: auto;
    height: auto;
    margin: 12px 0px 0px 8.5px;
}

div#estudo_de_casos_rectangle {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    border-radius: 7px;
    height: 25px;
    width: 575px;
    top: -380px;
    left: -15px;
    z-index: 1;
}

div#estudo_de_casos_vertical_rectangle {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #0B4900;
    border-radius: 7px;
    height: 25px;
    width: 400px;
    margin: 0px;
    top: -230px;
    left: -215px;
    transform: rotate(90deg);
    z-index: 1;
}

div#estudo_de_casos_bottom_triangle_white {
    position: relative;
    top: -147px;
    right: -515px;
    width: 0;
    height: 0;
    border-bottom: 35px solid #FFFFFF;
    border-left: 35px solid transparent;
}

div#estudo_de_casos_bottom_triangle_colored {
    position: relative;
    top: -173px;
    right: -524px;
    width: 0;
    height: 0;
    border-bottom: 23px solid #0031FF;
    border-left: 23px solid transparent;
}

div#estudo_de_casos_vertical_trapezoid {
    position: relative;
    top: -470px;
    left: -115px;
    border-bottom: 25px solid rgba(0, 170, 24, .4);
    border-right: 25px solid transparent;
    transform: rotate(90deg);
    height: 0;
    width: 230px;
    z-index: 0;
}

div#estudo_de_casos_greater_horizontal_trapezoid {
    border-bottom: 50px solid rgba(0, 170, 24, .4);
    border-right: 50px solid transparent;
    height: 0;
    width: 450px;
    top: -530px;
    position: relative;
    z-index: 0;
}

div#estudo_de_casos_horizontal_trapezoid {
    border-top: 30px solid rgba(0, 170, 24, .4);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 350px;
    top: -500px;
    left: 140px;
    position: relative;
    z-index: 0;
}

div#estudo_de_casos_smaller_horizontal_trapezoid {
    border-bottom: 15px solid rgba(0, 170, 24, .4);
    border-right: 20px solid transparent;
    height: 0;
    width: 530px;
    top: -605px;
    position: relative;
    z-index: 0;
}





figure.casos_clinicos_situacao {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

figure.casos_clinicos_situacao img {
}

figure.casos_clinicos_situacao figcaption {
    font-size: 8pt;
    text-align: center;
}

figure.casos_clinicos_avaliacao {
    margin: 0px auto 0px auto;
    padding: 0px;
    text-align: center;

}

figure.casos_clinicos_avaliacao img {
}

figure.casos_clinicos_avaliacao figcaption {
    font-size: 8pt;
    text-align: center;
}



div#avaliacao_container {
    background-color: #D0D2D3;
    border-radius: 15px;
    height: 100px;
    width: 550px;
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

div#avaliacao_container img {
    display: block;
    vertical-align: middle;
    float: left;
    margin: 30px 0px auto 20px;
}

div#avaliacao_container_texto {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    margin: 28px 10px auto 0px;
    left: -45px;
}

div#avaliacao_container h2 {
    font-family: Balsamiq;
    margin: 0px;
    padding: 0px;
}