@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

div#abas_situacao_clinica {
    width: 100%;
}

div#abas_situacao_clinica figure {
    width: 24%;
    position: relative;
    display: inline-block;
    margin: 20px auto 20px auto;
    text-align: center;
}

div#abas_situacao_clinica figcaption {
    text-transform: uppercase;
}

div#container_superior {
    position: relative;
    display: block;
    height: 40%;
    width: 100%;
    border: 1px solid black;
}

div#container_inferior {
    position: relative;
    display: block;
    height: 40%;
    width: 100%;
    border: 1px solid black;
}

div#imagens_container {
    height: 15%;
    width: 100%;
    position: relative;
    display: block;
}

div#imagens_container figure {
    display: inline-block;
    position: relative;
    height: 80%;
    width: 20%;
    border: 1px solid black;
    margin: 20px 5px 0px 5px;
    text-align: center;
}

iframe#formularioDadosRecemNascido {
    width: 80%;
    height: 460px;
    overflow-y: scroll;
    display: block;
    margin: auto;
    border: none;
}

iframe#abaDesenvolvimentoCaso1Id {
    display: block;
    border: none;
    margin: auto;
    width: 100%;
}