@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

/* Topo */
div#header_midle_greater_rectangle {
    border-top: 50px solid #00AA18;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 150px;
    top: -50px;
    margin: 0px auto 60px auto;
    position: relative;
    display: block;
}

nav#nav_header_midle_greater_rectangle {
    transform: skewX(45deg);
    display: inline-block;
    position: absolute;
    top: -30px;
    left: -10px;
}


/* Cabeçalho */
header#inscricao_cabecalho {
    height: 140px;
    margin-bottom: 80px;
}

header#inscricao_cabecalho img {
    position: relative;
    top: -90px;
    display: block;
    margin: 10px auto 10px auto;
}

header#inscricao_cabecalho h1 {
    text-align: center;
    font-weight: normal;
    font-family: Balsamiq, sans-serif;
    font-size: 28pt;
    padding: 0px;
    position: relative;
    top: -96px;
}

div#inscricao_header_left_big_rectangle {
    position: relative;
    border-bottom: 40px solid #D0D2D3;
    border-left: 0px solid transparent;
    border-right: 45px solid transparent;
    height: 0;
    width: 250px;
    top: -165px;
    left: -10px;
}

div#inscricao_header_right_big_rectangle {
    position: relative;
    border-top: 40px solid #D0D2D3;
    border-left: 45px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 250px;
    top: -205px;
    left: 615px;
}

div#inscricao_header_left_bottom_rectangle {
    position: relative;
    border-bottom: 20px solid #00AA18;
    border-left: 0px solid transparent;
    border-right: 22px solid transparent;
    height: 0;
    width: 200px;
    top: -254px;
    left: -10px;
    opacity: .8;

}

div#inscricao_header_right_bottom_rectangle {
    position: relative;
    border-top: 20px solid #0B4900;
    border-left: 22px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 200px;
    top: -236px;
    left: 690px;
    opacity: .9;
}




/* Corpo Principal */
section#corpo_principal {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela_dados_usuario {
    border-spacing: 0px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

table#tabela_dados_usuario td {
    padding: 10px 10px 10px 0px;
}

table#tabela_dados_usuario caption {
    position: relative;
    font-family: Balsamiq, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 1px auto 0px auto;
    padding-bottom: 15px;
}

/*table caption {*/
    /*font-family: Balsamiq, sans-serif;*/
    /*font-size: 14pt;*/
    /*font-weight: normal;*/
    /*text-shadow: 1px 1px 2px rgba(0,0,0,.6);*/
    /*padding-bottom: 10px;*/
/*}*/

table#tabela_dados_usuario input[type=text], input[type=number]{
    width: 100%;
}

table#tabela_cadastro_acesso input[type=text], input[type=email] ,input[type=password] {
    width: 300px;
}

form#formulario_inscricao h1 {
    position: relative;
    font-family: Balsamiq, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 1px auto 0px auto;
    text-align: center;
    padding-bottom: 15px;
}

button#continuar {
    position: relative;
    display: block;
    background-color: #0031FF;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    border-color: white;
    border-radius: 7px;
    width: 240px;
    margin: 15px auto 15px auto;
    padding: 5px 20px;
}