@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

div#tela_login_header_left_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: 0px auto 5px 170px;
    transform: skewX(45deg);
    background-color: #ffffff;
    top: 10px;
    position: absolute;
    display: inline-block;
}

img#ufpe_logo {
    transform: skewX(-45deg);
    position: relative;
    margin: auto 5px auto 30px;
}

img#lika_logo {
    transform: skewX(-45deg);
    position: relative;
    margin: auto 5px auto -10px;
}

img#ideias_logo {
    transform: skewX(-45deg);
    position: relative;
    margin: auto 15px auto 5px;
}

img#posca_logo {
    transform: skew(-45deg);
    position: relative;
    margin: auto 10px auto  5px;
}

div#tela_login_header_right_greater_rectangle p {
    font-size: 9pt;
    text-align: center;
    color: black;
    margin: auto 0px auto 0px;
    transform: skewX(45deg);
    position: relative;
    top: 10px;
}

div#tela_login_header_right_greater_rectangle {
    width: 300px;
    height: 50px;
    margin: 0px auto 5px 460px;
    transform: skewX(-45deg);
    background-color: #E6E7E8;
    top: 10px;
    position: absolute;
    display: inline-block;
}

div#tela_login_header_left_small_rectangle {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left: 0px;
    height: 0;
    width: 450px;
    border-bottom: 20px solid #FFFFFF;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
}

div#tela_login_header_right_small_rectangle {
    position: absolute;
    top: 10px;
    height: 0;
    width: 450px;
    right: 0px;
    border-bottom: 20px solid #E6E7E8;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
}




/* CABEÇALHO */
header#tela_login_cabecalho {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 101.7%;
    height: 100%;
    background-color: green;
    position: relative;
    left: -5px;
}

header#tela_login_cabecalho h1 {
    text-align: center;
    font-family: Balsamiq;
    font-weight: normal;
    font-size: 30pt;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#tela_login_cabecalho h2 {
    text-align: center;
    font-size: 12pt;
    font-family: Balsamiq, sans-serif;
    font-weight: normal;
    padding: 0px;
    margin-top: 0px;
}

div#tela_login_header_left_rectangle {
    opacity: 1;
    position: absolute;
    display: inline-block;
    height: 0;
    width: 480px;
    left: 0px;
    border-bottom: 20px solid #00AA18;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
}

div#tela_login_header_right_rectangle {
    position: absolute;
    display: inline-block;
    height: 0;
    width: 450px;
    right: 0px;
    border-bottom: 20px solid #0B4900;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
}


/* CORPO PRINCIPAL */
body {
    color: white;
    font-family: Balsamiq, sans-serif;
    font-size: 12pt;
    background-color: #58595B;
}

div#tela_login_interface {
    background-image: url("../_imagens/background_grid_white.png");
    background-color: #929497;
    width: 900px;
    top: -20px;
    margin: 0px auto 0px auto;
    padding: 0px 10px 0px 5px;
    position: relative;
    display: block;
    box-shadow: 0px 0px 10px black;
}

section#tela_login_corpo_principal {
    display: block;
    width: 530px;
    margin-bottom: 40px;
    float: left;
    padding: 10px;
    padding-top: 0px;
}

section#tela_login_corpo_principal p {
    text-indent: 0px;
    font-size: 10pt;
    text-align: left;
}

aside#lateral {
    height: 730px;
    width: 350px;
    margin-bottom: 40px;
    display: block;
    float: right;

}

/* LOGIN */
div#login_circle_container {
    height: 45px;
    width: 45px;
    top: 7px;
    background-color: #FFFFFF;
    border-radius: 40px;
    border: 1px solid #0B4900;
    box-shadow: 0px 0px 2px black;
    position: relative;
    display: block;
    z-index: 1;
}

div#login_circle {
    height: 44px;
    width: 44px;
    background-color: #FFFFFF;
    border-radius: 35px;
    position: relative;
    display: block;
    top: -71px;
    left: 3px;
    z-index: 3;
}

img#login_icone {
    width: 60%;
    height: 60%;
    position: relative;
    display: block;
    margin: auto;
    top: 8px;
    z-index: 2;
}

div#login_rectangle {
    height: 30px;
    width: 333px;
    background-color: #FFFFFF;
    border: 1px solid #0B4900;
    box-shadow: 0px 0px 2px black;
    border-radius: 7px;
    position: relative;
    display: block;
    top: -33px;
    left: 15px;
    z-index: 1;
}

div#login_rectangle h2 {
    color: #0B4900;
    font-size: 21pt;
    font-weight: normal;
    font-family: Balsamiq, sans-serif;
    position: relative;
    left: 30px;
    margin-top: -5px;
}

div#login_container {
    position: relative;
    z-index: 0;
}

div#login_container_corpo {
    width: 280px;
    height: 200px;
    color: #0B4900;
    padding: 25px 15px 15px 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    background-color: #E6E7E8;
    position: relative;
    top: -90px;
    z-index: 0;
}

div#divisao_login {
    width: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 7px auto 7px auto;
}

div#login_container_corpo label {
    font-size: 12pt;
    font-weight: normal;
    color: #0B4900;
}

div#login_container_corpo label#esqueceuSenhaId {
    color: #0031FF;
    text-align: left;
    font-size: 8pt;
    margin: 0px 0px 5px 13px;
    padding: 0px;
}

div#login_container_corpo input[type=text], input[type=password] {
    width: 100%;
    height: 25px;
    font-size: 8pt;
    color: #929497;
    text-align: left;
    padding: 2px 5px 2px 10px;
    margin: 4px 0px 4px 0px;
    box-sizing: border-box;
    border: 2px solid #0031FF;
    border-radius: 7px;
}

button#login_button {
    display: block;
    width: 100%;
    height: 27px;
    color: white;
    font-size: 10pt;
    background-color: #0031FF;
    border-radius: 7px;
    padding: 5px 5px;
    margin: 0px auto -10px auto;
    z-index: 1;
}

button#register_button {
    display: block;
    width: 100%;
    height: 27px;
    color: white;
    font-size: 10pt;
    background-color: #0031FF;
    border-radius: 7px;
    margin: 0px auto 0px auto;
    padding: 5px 5px;
    z-index: 1;
}

a {
    text-decoration: none;
}


/* FAQ */
div#noticias {
    position: relative;
    top: -110px;
}

div#noticias_header {
    height: 35px;
}

div#noticias_header_circle_container {
    height: 45px;
    width: 45px;
    top: 7px;
    background-color: #FFFFFF;
    border-radius: 40px;
    border: 1px solid #0B4900;
    box-shadow: 0px 0px 2px black;
    position: relative;
    left: 308px;
    display: block;
    z-index: 1;
}

div#noticias_header_circle {
    height: 44px;
    width: 44px;
    background-color: #FFFFFF;
    border-radius: 35px;
    position: relative;
    left: 309px;
    margin: 0px;
    top: -71px;
    z-index: 3;
}

div#noticias_header_circle img#news_icone {
    width: 60%;
    height: 60%;
    position: relative;
    display: block;
    margin: 0px auto 0px auto;
    top: 8px;
}

div#noticias_header_rectangle {
    width: 330px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #0B4900;
    box-shadow: 0px 0px 2px black;
    border-radius: 7px;
    margin: 0px;
    position: relative;
    left: 1px;
    top: -33px;
    z-index: 1;
}

div#noticias_header_rectangle h1 {
    color: #0B4900;
    font-size: 21pt;
    font-weight: normal;
    font-family: Balsamiq, sans-serif;
    position: relative;
    left: 42px;
    margin-top: -2px;
}

div#noticias_corpo {
    width: 290px;
    height: 400px;
    position: relative;
    top: 5px;
    overflow-y: scroll;
    background-color: #E6E7E8;
    box-shadow: 0px 0px 2px black;
    margin: -3px auto 20px auto;
    padding: 5px 10px 0px 10px;
    color: black;
}

div#noticias_corpo::-webkit-scrollbar {
    width: 15px;
    border: 1px solid #0B4900;
    box-shadow: 0px 0px 2px black;
} /* this targets the default scrollbar (compulsory) */

div#noticias_corpo::-webkit-scrollbar-track {
    background-color: #58595B;
}

div#noticias_corpo::-webkit-scrollbar-track-piece {
    background-color: #58595B;
    border-radius: 10px;
} /* the new scrollbar will have a flat appearance with the set background color */

div#noticias_corpo::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
} /* this will style the thumb, ignoring the track */

div#noticias_corpo::-webkit-scrollbar-button {

} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

div#noticias_corpo::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

div#noticias_corpo h2 {
    width: 101%;
    font-size: 11pt;
    font-family: Balsamiq;
    text-align: left;
    text-transform: uppercase;
    color: #58595B;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 0px 0px 2px black;
    margin: 0px;
    padding: 2px 5px 2px 10px;
    position: relative;
    left: -10px;
}

div#noticias_corpo p {
    font-size: 10pt;
    text-align: justify;
    font-family: Balsamiq;
    margin-top: 5px;
    margin-bottom: 20px;
}

div#noticias_footer {
    height: 0;
    width: 270px;
    border-top: 20px solid #E6E7E8;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -15px;
}


/* Rodape */
footer#tela_login_rodape {
    clear: both;
    position: relative;
    top: -20px;
}

div#tela_login_footer_left_small_rectangle {
    background-color: #ffffff;
    position: absolute;
    height: 0;
    width: 480px;
    left: -5px;
    border-bottom: 20px solid #00AA18;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
}

div#tela_login_footer_right_small_rectangle {
    position: absolute;
    height: 0;
    width: 450px;
    right: -10px;
    border-bottom: 20px solid #0B4900;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
}