@charset "UTF-8";
@font-face {
    font-family: Balsamiq;
    src: url("../_fonts/BalsamiqSansRegular.ttf");
}

div.abas_situacao_clinica {
    width: 100%;
}

div.abas_situacao_clinica figure {
    width: 24%;
    position: relative;
    display: inline-block;
    margin: 20px auto 20px auto;
    text-align: center;
}

div.abas_situacao_clinica figcaption {
    text-transform: uppercase;
}

div#container_superior {
    position: relative;
    display: block;
    height: 40%;
    width: 100%;
    border: 1px solid black;
}

div#container_inferior {
    position: relative;
    display: block;
    height: 40%;
    width: 100%;
    border: 1px solid black;
}

div#imagens_container {
    height: 15%;
    width: 100%;
    position: relative;
    display: block;
}

div#imagens_container figure {
    display: inline-block;
    position: relative;
    height: 80%;
    width: 20%;
    border: 1px solid black;
    margin: 20px 5px 0px 5px;
    text-align: center;
}

h2.perguntaCasoClinico {
    font-family: Balsamiq, sans-serif;
    font-size: 16pt;
}




/* IFRAMES */






/* Tables */
th.tabelaNotaObservacaoClass {
    font-weight: normal;
    text-align: left;
    font-style: italic;
    font-size: 10pt;
    padding-top: 5px;
}

tr.topicosColunasMasculinas {
    background-color: #0058A6;
    color: white;
    text-align: center;
}

tr.linhaClaraMasculina {
    background-color: #ECF5FC;
}

tr.linhaEscuraMasculina {
    background-color: #DEEAF6;
}

.legendaResposta {
    display: block;
    margin: 0px auto 0px auto;
    text-align: center;
    width: 330px;
}



/* Images && Containers*/
img.atencaoImgGrandeId {
    display: block;
    float: left;
    margin: 10px;
}

div.cc_d_nota_container {
    display: block;
    background-image: url('../_imagens/background_nota_pequeno.png');
    margin: 20px auto 20px auto;
    border: 2px solid #00AA18;
    border-radius: 10px;
    font-family: Balsamiq, sans-serif;
}

img.cc_d_nota_divisao {
    display: block;
    margin: 0px auto 0px auto;
}


/* Botões */
button.abaExpansaoCasoClinico {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-family: Balsamiq, sans-serif;
    font-size: 12pt;
    color: #0B4900;
    background-color: white;
    border: 2px solid #0B4900;
    border-radius: 20px;
    padding: 0px 3px 3px 3px;
    margin: 20px auto 20px auto;
    width: 800px;
}

img.abaExpansaoImg {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    margin: auto;
    padding: 4px;
    background-color: #0031FF;
}